@font-face {
  font-family: "Gotham";
  src: url('./assets/fonts/GothamPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  min-height: 100vh;

  position: fixed;
}

h1 {
  color: aliceblue;
  font-family: "Gotham";
}

.clock-container {
  font-family: "Gotham";
}
